@model eBay.Models.Korpa

@{
    ViewData["Title"] = "Korpa";
}

<h1>Korpa</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Naziv
            </th>
            <th>
                Cijena
            </th>
            <th>
                Kolicina
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Proizvodi) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Proizvod.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proizvod.Cijena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kolicina)
            </td>
            <td>
                <input type="button" onclick="doAJAXRequest(@item.StavkaKorpeId)" value="x"/>
            </td>
        </tr>
}
    </tbody>
</table>
<script type="text/javascript">
    function doAJAXRequest(stavkaId) {
        const data = {
            StavkaKorpeId: stavkaId
        };
        console.log(data);
        fetch("@Url.Action("RemoveFromCart")",{
            method: "POST",
            body: JSON.stringify(data),
            headers: {
                "Content-Type":"application/json"
            }
        })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                location.reload();
            })
            .catch(err => console.log(err));
    }
</script>